@model List<EmurbEstoque.Models.Autorizado>
@{
    ViewData["Title"] = "Funções Autorizadas";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Funções Autorizadas (@Model.Count)</h1>
<p>
    <a class="btn btn-primary" href="/Autorizado/Create">
        <i class="bi bi-plus-circle me-1"></i> Cadastrar Nova Função
    </a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Função / Cargo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdAutorizado</td>
                <td>@item.Funcao</td>
            </tr>
        }
    </tbody>
</table>