@model List<EmurbEstoque.Models.Produto>
@{
    ViewData["Title"] = "Cadastro de Produtos";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Produtos Cadastrados (@Model.Count)</h1>
<p>
    <a class="btn btn-primary" href="/Produto/Create">
        <i class="bi bi-plus-circle me-1"></i> Cadastrar Novo Produto
    </a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdProduto</td>
                <td>@p.Nome</td>
                <td>@p.Descricao</td>
            </tr>
        }
    </tbody>
</table>