@model EmurbEstoque.Models.Funcionario
@{
    ViewData["Title"] = "Adicionar Funcionário";
    Layout = "~/Views/_Layout.cshtml";
}
<h1 class="mb-4">Cadastrar Funcionário</h1>

@if(ViewBag.Error != null) {
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Create" method="post" id="form-func">
  
  <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

  <div class="mb-3">
    <label asp-for="Nome" class="form-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="CpfCnpj" class="form-label"></label>
    <input asp-for="CpfCnpj" class="form-control" />
    <span asp-validation-for="CpfCnpj" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" type="email" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Telefone" class="form-label"></label>
    <input asp-for="Telefone" class="form-control" />
    <span asp-validation-for="Telefone" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Cargo" class="form-label"></label>
    <input asp-for="Cargo" class="form-control" />
    <span asp-validation-for="Cargo" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Setor" class="form-label"></label>
    <input asp-for="Setor" class="form-control" />
    <span asp-validation-for="Setor" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary">
    <i class="bi bi-save me-1"></i> Incluir Funcionário
  </button>
  <a class="btn btn-secondary" href="@Url.Action("Index","Funcionario")">
    <i class="bi bi-x-circle me-1"></i> Cancelar
  </a>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}