@model EmurbEstoque.Models.Funcionario
@{
    ViewData["Title"] = "Adicionar Funcionário";
    Layout = "~/Views/_Layout.cshtml";
}
<h1 class="mb-4">Adicionar Funcionário</h1>

<form asp-action="Create" method="post" id="form-func">
  <div class="mb-3">
    <label class="form-label" for="Nome">Nome</label>
    <input class="form-control" id="Nome" name="Nome" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="CpfCnpj">CpfCnpj</label>
    <input class="form-control" id="CpfCnpj" name="CpfCnpj" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="Email">Email</label>
    <input class="form-control" id="Email" name="Email" type="string" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="Telefone">Telefone</label>
    <input class="form-control" id="Telefone" name="Telefone" type="string" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="Cargo">Cargo</label>
    <input class="form-control" id="Cargo" name="Cargo" type="string" />
  </div>

  <div class="mb-3">
    <label class="form-label" for="Setor">Setor</label>
    <input class="form-control" id="Setor" name="Setor" type="string" />
  </div>

  <button type="submit" class="btn btn-primary">
    <i class="bi bi-save me-1"></i> Incluir Funcionário
  </button>
  <a class="btn btn-outline-secondary" href="@Url.Action("Index","Funcionario")">
    <i class="bi bi-x-circle me-1"></i> Cancelar
  </a>
</form>